:root{
    /* Colors */
    --backgroundColor: #faf8ef;
    --firstColor: #eee4dae6;
    --goldColor: #f7db7f;
    --greyColor: #dfdfdf;
    --statusColor: #ee9292;
    --outlineColor: #3d323240;
    --textColor:#414141;

    /* Grid Properties */
    --gridWidth: 400px;
    --gridHeight: 400px;

    /* Box Properties */
    --boxHeight: 100px;
    --boxWidth: 100px;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--textColor)
}

body{
    background: var(--backgroundColor);
    border: dashed 1px var(--outlineColor);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5rem auto;
    max-width: 95%;
    overflow: hidden;
    text-align: center;
}

/* Formatting the header */
.header{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.score{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Main header: 2048 */
#mainHeading{
    color: var(--goldColor);
    font-size: 3rem;
    padding-right: 0.5rem;

}

.scoreBox{
    background: var(--greyColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
}

#playerScore{
    color: var(--statusColor);
}

/* Formatting for instruction P tag */
#instructions{
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
}


/* Formatting for status message */
#statusMessage{
    color: var(--statusColor);
    font-size: 1.3rem;
}

/* Formatting for the grid */
.grid{
    background: var(--firstColor);
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    height: var(--gridHeight);
    margin: 1rem auto;
    width: var(--gridWidth);  
}

/* formatting for individual boxes */
.box{
    background: var(--greyColor);
    border: solid 0.2px rgba(58, 58, 58, 0.4);
    font-size: 2rem;
    height: var(--boxHeight);
    line-height: 100px;
    width: var(--boxWidth);
}

/* Format the overlay */
#overlay{
    position: fixed;
    width: 400px;
    height: 400px;
    background-color: rgba(248, 242, 231, 0.4);
    z-index: 2;
}

/* Format play again button */
#playAgainButton{
    background: var(--greyColor);
    border: solid 1px black;
    border-radius: 5px;
    color: var(--textColor);
    display: block;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 40% auto;
    cursor: pointer;
    z-index: 3;
}
#playAgainButton:hover{
    background-color: var(--goldColor);
}

/* box colors */
.flash{
    background: rgb(255, 255, 255);
}
.box2{
    background: #EE9292;
}
.box4{
    background: #EF9990;
}
.box8{
    background: #F0A18E;
}
.box16{
    background: #F1A88C;
}
.box32{
    background: #F2AF8A;
}
.box64{
    background: #F3B789;
}
.box128{
    background: #F3BE87;
}
.box256{
    background: #F4C585;
}
.box512{
    background: #F5CC83;
}
.box1024{
    background: #F6D481;
}
.box2048{
    background: #F7DB7F;
}

.footer{
    font-style: italic;
    margin: 8rem 1rem 0.5rem 1rem;
}

/* For tablet */
@media(max-width: 768px){
    /* box will be 90px */
    .grid{
        height: 360px;
        width: 360px;  
    }
    .box{
        width: 90px;
        height: 90px;
        line-height: 90px;
    }
    .footer{
        font-style: italic;
        margin: 6rem 1rem 0.5rem 1rem;
    }
    #overlay{
        width: 360px;
        height: 360px;
    }
}
/* For really small screens */
@media(max-width: 500px){
    /* box will be 70px */
    .grid{
        height: 280px;
        width: 280px;  
    }
    .box{
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .footer{
        font-style: italic;
        margin: 2rem 1rem 0.5rem 1rem;
    }
    #overlay{
        height: 280px;
        width: 280px; 
    }
}